
<div class="header-partial">
  <ul class="nav ">
    <a class="navbar-brand" href="/">CodTalk</a>

    <li class="nav-item">
      <a class="nav-link " href="/">ABOUT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">POSTS</a>
    </li>

  </ul>
</div>
