<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-9">
      {{# each posts}}

        {{# each this}}

          <a href="post/{{this._id}}">{{this.title}}</a>
          <br>
        {{/each}}
      {{/each}}
    </div>
  </div>
</div>
