<!-- http://fredkschott.com/post/  -->
<div class="container posts-render">


  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <div class="content">
          <h1 class="year-post">2020</h1>
          <a href="/forms/post-form" class="add-image"><img src="/images/add.png" alt=""> </a>
        </div>

        <div class="post-seccion">
          {{# each posts}}
            {{# each this}}
            <div class="time-post">
              {{this.time}}
            </div>
            <p class="text">
              <a href="post/{{this._id}}">{{this.title}}</a>
            </p>

            {{/each}}
          {{/each}}
        </div>

      </div>
    </div>
  </div>
</div>

{{> footer }}
