* {
  margin: 0;
  padding: 0;
}

html,body{
margin:0px;
height:100%;
position: relative;
}

.flash-message-temp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.flash-message-temp.color {
  background: red;
}
.flash-message-temp p{
  margin: 0;
}
