<h1>Creating new post </h1>
<br>
<div class="flash-message-temp color" id="color">
  <p>
    {{#if messages}}
      {{messages}}
    {{/if }}
  </p>
</div>
<form  action="/forms/post-form" method="post">
  <label for="autor">Autor</label> <br>
  <input type="text" name="autor" value="">
  <br>
  <br>
  <label for="autor">Title</label> <br>
  <input type="text" name="title" value="">
  <br>
  <br>
  <label for="text">Texto</label> <br>
  <textarea name="text" rows="8" cols="80"></textarea>
  <br>
  <button type="submit" name="button">SUBMIT</button>
</form>
